<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SchoolApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link"  href="/school">Home</a>
          <a class="nav-link" href="/courses">Courses</a>
          <a class="nav-link" href="/courses/new">New Course</a>
          <a class="nav-link" href="/students">Students</a>
          <a class="nav-link" href="/students/new">New Student</a>
          <a class="nav-link" href="/trainers">Trainers</a>
          <a class="nav-link" href="/trainers/new">New Trainer</a>
          <a class="nav-link" href="/assignments">Assignments</a>
          <a class="nav-link" href="/assignments/new">New Assignment</a>
        </div>
      </div>
    </div>
  </nav>