<% layout('layouts/boilerplate') %> 
<body>
    <h1>All Students:</h1>
    <% for(let student of students){ %>
        <div class="list-group-item list-group-item-action list-group-item-secondary ">
            <a href="/students/<%=student._id %>" class="list-group-item list-group-item-action"><%=student.firstName%> <%= student.lastName %></a>
        </div>
        <% } %>
</body>
